version: 1
disable_existing_loggers: false

formatters:
  standard:
    format: "%(asctime)s | %(levelname)s | %(name)s | %(message)s"
    datefmt: "%Y-%m-%d %H:%M:%S"

handlers:
  console:
    class: logging.StreamHandler
    formatter: standard
    stream: ext://sys.stdout

  file:
    class: logging.FileHandler
    formatter: standard
    filename: logs/app.log
    mode: a

root:
  level: INFO
  handlers: [console, file]

loggers:
  src:
    level: INFO
    propagate: true
  uvicorn:
    level: INFO
    propagate: true